.data-item {
  text-align: center;
}

.header {
  text-align: center;
  background-color: goldenrod;
  height: 100px;
}

main {
  display: flex;
  height: 100%;
}

.search-area {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 248);
  border: 3px solid black;
  padding: 5px;
}

.pokemon-area {
  background-color: goldenrod;
  padding: 30px;
  border: 3px solid black;
  width: 100%;
}

input {
  border: 3px solid goldenrod;
  border-radius: 10px;
  margin: 3px;
}

header {
  height: 75px;
  background-color: rgb(216, 27, 27);
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  border: 3px solid black;
  height: 100px;
}

img {
  width: 100px;
  height: 100px;
}

.list-container {
  margin: 1px;
}

.pokemon-list-item {
  border: 3px solid black;
  text-align: center;
  background-color: rgb(184, 166, 166);
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 8px;
}

li {
  list-style-type: none;
}

button {
  color: rgb(216, 27, 27);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  width: 163px;
  background-color: goldenrod;
  border-radius: 6px;
  margin: 3px;
}

option {
  color: rgb(216, 27, 27);
  background-color: goldenrod;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 13px;
  margin: 3px;
}

select {
  color: rgb(216, 27, 27);
  background-color: goldenrod;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 13px;
  border-radius: 5px;
  margin: 3px;
}

